

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');


html, body  {
	font-family: 'Roboto';
	/* margin: 0; */
	height: 100%;
	width: 100%;
}
.wrapper {
	width: 100%;
	margin: 0 auto;
}
.list-a {
	text-decoration:none;
	color: #222B3A;
	font-weight: bold;
	/* margin-right: 10px; */
}
.main {
	max-width: 1110px;
	margin: 0 auto;
}
.item1 {
	width: 5px;
	background-color: black;
	border-radius: 50%;	
}
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;	
}

.header-list {
	display: flex;
	align-items: center;
}

.list {
	margin-right:88px;

}

.list-ul {
	display: flex;	
	/* width: fit-content; */
	/* margin-left: auto; */
	align-items: center;
	margin-right: 20px;
	/* align-self: center; */

}
.list-li {
	list-style: none;
	color: #222B3A;
	font-weight: bold;
	
}
.list-li:not(:first-child) {
	margin-left: 35px;
}
.items {	
	font-weight: bold;
	margin-right: -10px;
}

.section_Dmitriy {
	background: #296DCE;
	/* background-image: url(/img/Vector\ 2.1.png) cover ; */
	/* background-image: url(/img/Vector\ 2.png); */
	height: 513px;
}
.section-flex {
	display: flex;
	justify-content: space-between;	
}

.foto_Karpachoff_img {
	opacity: 1;
	width: 339px;
	height: 479px;
	margin-top: 34px;

}

.header-h1 {
	font-size: 38px;
	color: #FFFFFF;
	text-transform: uppercase;
	margin-top: 66px;
}
.header-h2 {
	font-size: 24px;
	color: #FF8A00;
	text-transform: uppercase;
}
.button {
	font-size: 14px;
	color: #FFFFFF;
	border: 1px solid white;
	border-radius: 4px;
	width: 209px;
	height: 44px;
	/* text-align: center; */
	/* line-height: 44px; */
	display: flex;
	align-items: center;
	justify-content: center;
	
}
.button-a {
	text-decoration:none;
	color: #FFFFFF;
}

.tema-border {
	/* border: 2px solid #F3F3F3; */
	border-radius: 3px;
	Width: 468px;
	height: 15px;
	background-color: #F3F3F3;
	margin-top: 75px;
	display: flex;
	align-items: center;


}

.tema-backgraund {
height: 11px;
width: 259px;
background-color: #296DCE;
border-radius: 2px;
margin-left: 2px;
}

.tema-num {
	display: flex;
	align-items: center;
	/* justify-content: space-between; */
}
.ten {
	display: flex;
	align-items: center;
	font-size: 14px;
	color: #FFFFFF;	

}
.six {
	margin-left: 165px;
}
.big {
	font-size: 38px;
	color: #FFFFFF;
	font-weight: 900;
	margin-right: 9px;
}
.content-navi {
	display: flex;
	flex-direction: row;
	

}
.conten-navi-item {
	margin: 0px 50px 0px 0px;
}
div.conten-navi-item a {
	font-weight: bold;
	text-decoration: none;
	color: #979FAD;
}

.tema-kursa {
	height: 100px;
	background-color: #F3F3F3;
	margin: 30px auto;
	/* border: 1px solid blue; */
	
	display: flex;
	align-items: center;
	justify-content: center;
}

.tema-kursa1 {
	/* border: 1px solid red; */
	width: 1110px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.tema-kursa2 {
	font-size: 18px;
	color: 	#222B3A;
	font-weight: bold;

}
.age-chaild {
	font-size: 14px;
	color: #222B3A;
	font-weight: bold;
	border: 2px #FC880D solid;
	padding: 15px;
	color: #FC880D;
	width: 170px;
	
}
.treugolnik {
	display: inline-block;
	width: 0;
	height: 0;
    border-left:4px solid transparent;
	border-top: 8px solid #FC880D;
	border-right: 4px solid transparent;
	text-align: center;
	
}
.age-chaild:hover {
	cursor: pointer;
}


.section-main {
	/* background-color: #F3F3F3; */
	height: 100%;
	/* display: flex; */
}
.first-tema {
	border: 1px solid #F3F3F3;
	border-radius: 15px;
	min-height: 203px;
	display: flex;
}
.number {
	width: 148px;
	/* height: 201px; */
	font-size: 64px;
	font-weight: bold;
	color: #E1E1E1;
	/* line-height: 100%; */
	margin: auto;
}
.text {
	width: 800px;
}
.item-text>h2 {
	color: #1092CB;	
	font size: 24px;
	font-weight: 800;
	text-transform: uppercase;
}
